@page "/pizzadetails/{Id:int}"

@using PizzaConf.Web.Data
@using PizzaConf.Models

@inject PizzaWebService pizzaService
@inject CartWebService cartService
@inject NavigationManager navigation

@inject IConfiguration configuration

<PageTitle>Pizza Details</PageTitle>

@if (pizza == null)
{
    <h1>Loading...</h1>
}
else
{
    <h1>@pizza.Name</h1>
    <p>
        <em>OH MY GOODNESS!</em>
        <div class="mt-3 mb-3">
            <img style="max-width:200px; max-height:200px;" class="rounded-circle" src="@pizza.ImageUrl" />
        </div>
        
        @pizza.Description
    </p>
    <button class="btn btn-outline-primary" @onclick="AddToOrder">Add to order</button>
}



@code {

    [Parameter]
    public int Id { get; set; }

    private string? cdnUrl;

    private Pizza? pizza;

    protected override async Task OnInitializedAsync()
    {
        cdnUrl = configuration.GetValue<string>("cdnUrl");

        pizza = await pizzaService.GetPizza(Id);

        pizza.ImageUrl = $"{cdnUrl}/pizzaimages/{pizza.ImageUrl}";
    }

    private async Task AddToOrder()
    {
        await cartService.AddPizzaToOrder(pizza.Name, pizza.Description);

        navigation.NavigateTo("cart");
    }
}
